.standings {
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.standing-team {
  display: flex;
  align-items: center;
}

.standing-team a {
  display: flex;
  margin-right: 20px;
  align-items: center;
  text-decoration: none;
  color: rgb(159, 159, 159);
}

.standing-table {
}

.standing-table td {
  height: 70px;
}

.standing-table tr {
  padding: 100px 0px;
}

.standing-team img {
  margin: 5px 15px 5px 30px;
  border-radius: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** PLAYER **/

.placeholder-player td {
  height: 50px;
  background: linear-gradient(
    0deg,
    transparent,
    rgba(0, 0, 0, 0.04),
    transparent
  );
  background-size: 100% 200%;
  animation: loading 1.5s infinite;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search input {
  height: 30px;
  border-style: none;
  border-radius: 10px;
  background-color: var(--background-dark);
  padding: 5px 20px;
  border: 1px solid var(--stroke);
  color: white;
}

@keyframes loading {
  0% {
    background-position: 0 200%;
  }
  100% {
    background-position: 0 -200%;
  }
}

/** CHAMPIONS **/

.champion-img-name {
  display: flex;
  align-items: center;
}

.champion-img-name img {
  margin: 10px;
}

.champion-details {
  color: white;
  padding: 20px 0px;
}
.details-data {
  display: flex;
  background-color: var(--background-dark);
  width: 90%;
  padding: 10px 40px;
  margin-bottom: 10px;
  border-radius: 20px;
  justify-content: space-between;
  border: 1px solid var(--stroke);
}

.flex-details {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 100%;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 100%;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.slide-down-entered {
  animation: slideDown 0.5s ease-in-out forwards;
}

.slide-down-exited {
  animation: slideUp 0.5s ease-in-out forwards;
}

/** TEAM SCOUTER **/

.team-scouter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0px;
  color: white;
  font-weight: 600;
}

.scout-team-details {
  padding: 50px;
}

.scout-team {
  width: 200px;
  padding: 30px 50px;
  background-color: var(--background-dark);
  border: 1px solid var(--stroke);
  border-radius: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.scout-team img {
  width: 60px;
  height: 60px;
  border-radius: 20rem;
  margin-right: 10px;
}

.scout-team:hover {
  border: 1px solid var(--purple);
}

.player-stats {
  margin: 20px 0px;
}

.championstats {
  display: flex;
}

.top3 {
  margin-top: 50px;
}

.banned {
  background-color: rgb(218, 72, 72);
  padding: 2px 7px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.champion-stats {
  display: flex;
  background-color: var(--background-dark);
  padding: 2%;
  border-radius: 20px;
  border: 1px solid var(--stroke);
  align-items: center;
}

.champion-stats img {
  height: 50px;
  width: 50px;
}

.team-details-header {
  padding: 50px 20px 50px 20px;
  max-width: 450px;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.teamname-scout {
  text-align: center;
}

.teamlogo-header {
  min-width: 100px;
  border-radius: 20rem;
}
.opgg {
  min-width: 60px;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.opgg:hover {
  border: 1px solid var(--purple);
}

.team-scout button {
  background-color: var(--background-dark);
  border: 1px solid var(--stroke);
  border-radius: 20px;
  background: none;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  margin: 20px 0px;
  cursor: pointer;
}

.team-scout button:hover {
  border: 1px solid var(--purple);
}

.rank-ladder {
  margin-right: 20px;
}

.player-stats {
  background-color: var(--background);
  border: 1px solid var(--stroke);
  border-radius: 20px;
}

.team-player-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  cursor: pointer;
}

.team-player-stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-player-stat h3 {
  color: gray;
  margin-right: 20px;
  font-weight: 400;
  font-size: 16px;
}

.player-stats:hover {
  border: 1px solid var(--purple);
}

.top-teamscout {
  display: flex;
  margin-bottom: 20px;
}

.divbg {
  background-color: var(--background-dark);
  border-radius: 20px;
  border: 1px solid var(--stroke);
}

.champion-player-data {
  background-color: var(--background-dark);
  border: 1px solid var(--stroke);
  margin: 10px;
  border-radius: 10px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.championstats {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.champion-player-data img {
  margin-right: 20px;
}

.summoner-player {
  color: gray;
  margin-left: 20px;
}

.team-overall {
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wr-cnt {
  display: flex;
  justify-content: space-between;
}

.champion-scout {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}

.champion-scout img {
  width: 70px;
}

.top5-highest-winrate,
.top5-most-picked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  padding: 0 100px;
}

.top5-highest-winrate h3,
.top5-most-picked h3 {
  margin-bottom: 40px;
  font-size: 18px;
  color: gray;
}

.games-ch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
