.navbar {
  min-width: 180px;

  border-right: 1px solid var(--background-light);
  padding: 40px 40px;

  height: 100vh;
  position: fixed;
}

.navbar-content {
  margin-top: 40px;
}

.ggllogo {
  width: 300px !important;
}
.navbar-content h2 {
  cursor: pointer;
  font-size: 16px;
}

.navbar-content h2:hover {
  color: white;
}

.active {
  color: white;
}

.nav-line {
  width: 80%;
  height: 1px;
  background-color: var(--background-light);
  margin-top: 30px;
}

.beta {
  background-color: var(--purple);
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 5px;
}

.ladder {
  display: flex;
  align-items: center;
}

.socials-cnt {
  display: flex;
  justify-content: center;
  margin-top: 47vh;

  margin-left: -10px;
}

.socials-cnt img {
  width: 60px !important;
  height: 60px !important;
  margin-right: -10px !important;
}

/** dropdown **/

/* Existing styles */
/* ... */

/* Dropdown styles */
.dropdown-content {
  display: none;
  position: fixed;
  top: 50px;
  height: 100px;
  right: 0;
  background-color: #333;
  z-index: 100;
}

.dropdown-content h2 {
  color: white;
  padding: 14px 16px;
  display: block;
}

.dropdown-content h2:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.gglstats {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80px;
  background-color: var(--background-dark);
  border-radius: 40px;
}

.gglstats img {
  min-width: 60px;
  min-height: 35px;
  margin-right: 10px !important;
}

.navbar img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.navbar h2 {
  display: flex;
}

@media screen and (max-width: 900px) {
  .sorts-cnt div {
    font-size: 10px !important;
  }

  .sorts-cnt {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
  }

  table,
  th {
    font-size: 12px;
  }

  .tables img {
    max-width: 30px;
  }
}

@media screen and (min-width: 1150px) {
  .dropdown {
    display: none;
  }
}
