body {
  display: flex;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background-dark);
  padding: 0px 40px 40px 0px;
}

.main {
  display: flex;
}

.header-bg {
  width: 76vw;
  height: 30vh;
  background-color: var(--purple);
  border-radius: 20px;
  margin-bottom: 50px;
  background-image: url("https://images.contentstack.io/v3/assets/blt370612131b6e0756/bltd897c9a5cef63006/5f9367dacb9eba781f0846fc/LoL_WR_KV_Banner_1920x1080.jpg");
  background-position: 2% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bg img {
  width: 400px;
}

.page-cnt {
  display: flex;
}

.app {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("./assets/bg.svg");
}

.test {
  display: flex;
}

.content {
  margin-top: 50px;
  min-width: 75vw;
  margin-left: 320px;
}

.content-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.sorts-cnt {
  display: flex;
}

.sorts-cnt div {
  padding: 10px 18px;
  background-color: var(--background);
  border: 1px solid var(--stroke);
  border-radius: 10px;
  color: whitesmoke;
  margin-right: 10px;
  margin-top: 50px;
  font-size: 0.8em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.tables {
  background-color: var(--background);

  border: 1px solid var(--stroke);
  border-radius: 20px;
  padding: 2vh 4vw;
  margin-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 20px;
}

.tables img {
  width: 50px;
}

.thead {
  background-color: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table th {
  padding: 20px 0px;

  text-align: left;
  border-bottom: 1px solid var(--background-light);
  color: var(--font-dark);
  font-weight: 400;
  font-size: 13px;
}

table tr:hover {
  background-color: var(--background-light);
  cursor: pointer;
}

table tr {
  border-bottom: 1px solid var(--background-light);
  padding: 8px;
}

.flagname {
  display: flex;
  align-items: center;
}

.flagname img {
  margin: 10px 30px 10px 20px;
}

select {
  border-style: none;
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 5px solid var(--purple);
  margin-right: 30px;
}

select .option {
  background-color: aqua;
}

.sorts-cnt {
  display: flex;
}

.sort-option {
  padding: 8px 16px;
  border: 1px solid var(--background);
  border-radius: 5px;
  cursor: pointer;
}

.sort-option:hover {
  border: 1px solid var(--purple);
}

.sort-option.active {
  background-color: var(--purple);
}

.player-page {
  background-color: var(--background-dark);
}

.champion-img-name p {
  margin-right: 20px;
}

.carrypercent {
  color: white;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 13px;
}

.carrypercent.positive {
  background-color: #4ea124;
}

.carrypercent.negative {
  background-color: #e23636;
}

.role-select-cnt {
  margin: 40px 0px;
}

.roles-cnt {
}

.roles-cnt img {
  background-color: var(--background-dark);
  margin-right: 5px;
  padding: 8px;
  border-radius: 10px;
}
/** FOOTER **/

.footer {
  min-height: 300px;
  border-top: 1px solid var(--stroke);
  margin-top: 100px;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.footer div {
  width: 60%;
}
