:root {
  --font-dark: #7d8081;
  --background-dark: #212528;
  --background: #2a2d30;
  --background-light: #3f4245;
  --purple: #ff6d43;
  --purple-dark: #513ee39c;
  --stroke: #46484b;
}

h2,
p,
td {
  color: var(--font-dark);
}

.white {
  color: white !important;
  font-weight: 800;
}

body,
html {
}

.allpages {
  display: flex;
}

.flex-none {
  position: fixed;
  z-index: -2;
  transform: rotate();
  filter: blur(50px);
}
